<div class="form" >
    <md-card class="content">
      <md-card-title >{{title}}</md-card-title>
      <md-card-content>
        <form novalidate [formGroup]="form">
          <div class="row">

                <div class="form-group col col-sm-8	col-md-8	col-lg-8 col-xl-8 col-sm-auto col-md-auto col-lg-auto	col-xl-auto">
                    <md-input-container>
                        <input mdInput placeholder="Nombre de Menu" class="form-control" #count_nombre maxlength="50" id="nombre" formControlName="nombre">
                        <md-hint align="end">{{count_nombre.value.length}} / 50</md-hint>
                    </md-input-container>
                    <div *ngIf="form.controls.nombre.errors && form.controls.nombre.touched">
                        <div *ngIf="form.controls.nombre.errors.required" class="alert alert-danger">
                            El Campo es requerido!
                        </div>
                        <div *ngIf="form.controls.nombre.errors.minlength" class="alert alert-danger">
                            El Campo debe ser mayor a 3 caracteres!
                        </div>
                        <div *ngIf="form.controls.nombre.errors.maxlength" class="alert alert-danger">
                            El Campo debe ser menor a 50 caracteres!
                        </div>
                        <div *ngIf="form.controls.nombre.errors.pattern" class="alert alert-danger">
                            El Campo debe iniciar con almenos una letra
                        </div>
                    </div>
                </div>

                <div class="form-group col col-sm-4	col-md-4	col-lg-4 col-xl-4 col-sm-auto col-md-auto col-lg-auto	col-xl-auto">
                    
                    <md-input-container>
                        <input mdInput placeholder="tipo de Menu" class="form-control" #count_tipo maxlength="50" id="tipo" formControlName="tipo">
                        <md-hint align="end">{{count_tipo.value.length}} / 10</md-hint>
                    </md-input-container>
                    <div *ngIf="form.controls.tipo.errors && form.controls.tipo.touched">
                        <div *ngIf="form.controls.tipo.errors.required" class="alert alert-danger">
                            El Campo es requerido!
                        </div>
                        <div *ngIf="form.controls.tipo.errors.minlength" class="alert alert-danger">
                            El Campo debe ser mayor a 3 caracteres!
                        </div>
                        <div *ngIf="form.controls.tipo.errors.maxlength" class="alert alert-danger">
                            El Campo debe ser menor a 50 caracteres!
                        </div>
                        <div *ngIf="form.controls.tipo.errors.pattern" class="alert alert-danger">
                            El Campo debe iniciar con almenos una letra
                        </div>
                    </div>
                </div>
                <div class="form-group col col-sm-12	col-md-12	col-lg-12 col-xl-12 col-sm-auto col-md-auto col-lg-auto	col-xl-auto">            
                <md-input-container class="example-full-width">
                    <textarea mdInput placeholder="Ruta del Menu" id="ruta"  #count_ruta maxlength="100" formControlName="ruta"></textarea>
      
                    <md-hint align="end">{{count_ruta.value.length}} / 100</md-hint>
                </md-input-container>
            
                <div *ngIf="form.controls.ruta.errors && form.controls.ruta.touched">
                    <div *ngIf="form.controls.ruta.errors.required" class="alert alert-danger">
                        El Campo es requerido!
                    </div>
                    <div *ngIf="form.controls.ruta.errors.minlength" class="alert alert-danger">
                        El Campo debe ser mayor a 3 caracteres!
                    </div>
                    <div *ngIf="form.controls.ruta.errors.maxlength" class="alert alert-danger">
                        El Campo debe ser menor a 100 caracteres!
                    </div>
                    <div *ngIf="form.controls.ruta.errors.pattern" class="alert alert-danger">
                        El Campo debe iniciar con almenos una letra
                    </div>
                </div>
            </div>

             <div class="form-group col col-sm-4	col-md-4	col-lg-4 col-xl-4 col-sm-auto col-md-auto col-lg-auto	col-xl-auto">
                    
                    <md-input-container>
                        <input mdInput placeholder="icono de Menu" class="form-control" #count_icono maxlength="50" id="icono" formControlName="icono">
                        <md-hint align="end">{{count_icono.value.length}} / 10</md-hint>
                    </md-input-container>
                    <div *ngIf="form.controls.icono.errors && form.controls.icono.touched">
                        <div *ngIf="form.controls.icono.errors.required" class="alert alert-danger">
                            El Campo es requerido!
                        </div>
                        <div *ngIf="form.controls.icono.errors.minlength" class="alert alert-danger">
                            El Campo debe ser mayor a 3 caracteres!
                        </div>
                        <div *ngIf="form.controls.icono.errors.maxlength" class="alert alert-danger">
                            El Campo debe ser menor a 50 caracteres!
                        </div>
                        <div *ngIf="form.controls.icono.errors.pattern" class="alert alert-danger">
                            El Campo debe iniciar con almenos una letra
                        </div>
                    </div>
                </div>
                 <div class="form-group col col-sm-4	col-md-4	col-lg-4 col-xl-4 col-sm-auto col-md-auto col-lg-auto	col-xl-auto">
                    
                    <md-input-container>
                        <input mdInput placeholder="avatar de Menu" class="form-control" #count_avatar maxlength="50" id="avatar" formControlName="avatar">
                        <md-hint align="end">{{count_avatar.value.length}} / 10</md-hint>
                    </md-input-container>
                    <div *ngIf="form.controls.avatar.errors && form.controls.avatar.touched">
                        <div *ngIf="form.controls.avatar.errors.required" class="alert alert-danger">
                            El Campo es requerido!
                        </div>
                        <div *ngIf="form.controls.avatar.errors.minlength" class="alert alert-danger">
                            El Campo debe ser mayor a 3 caracteres!
                        </div>
                        <div *ngIf="form.controls.avatar.errors.maxlength" class="alert alert-danger">
                            El Campo debe ser menor a 50 caracteres!
                        </div>
                        <div *ngIf="form.controls.avatar.errors.pattern" class="alert alert-danger">
                            El Campo debe iniciar con almenos una letra
                        </div>
                    </div>
                </div>
                 <div class="form-group col col-sm-4	col-md-4	col-lg-4 col-xl-4 col-sm-auto col-md-auto col-lg-auto	col-xl-auto">
                    
                    <md-input-container>
                        <input mdInput placeholder="background de Menu" class="form-control" #count_background maxlength="50" id="background" formControlName="background">
                        <md-hint align="end">{{count_background.value.length}} / 10</md-hint>
                    </md-input-container>
                    <div *ngIf="form.controls.background.errors && form.controls.background.touched">
                        <div *ngIf="form.controls.background.errors.required" class="alert alert-danger">
                            El Campo es requerido!
                        </div>
                        <div *ngIf="form.controls.background.errors.minlength" class="alert alert-danger">
                            El Campo debe ser mayor a 3 caracteres!
                        </div>
                        <div *ngIf="form.controls.background.errors.maxlength" class="alert alert-danger">
                            El Campo debe ser menor a 50 caracteres!
                        </div>
                        <div *ngIf="form.controls.background.errors.pattern" class="alert alert-danger">
                            El Campo debe iniciar con almenos una letra
                        </div>
                    </div>
                </div>
                 <div class="form-group col col-sm-4	col-md-4	col-lg-4 col-xl-4 col-sm-auto col-md-auto col-lg-auto	col-xl-auto">
                    
                    <md-input-container>
                        <input mdInput placeholder="Estado de Menu" class="form-control" #count_estado maxlength="50" id="estado" formControlName="estado">
                        <md-hint align="end">{{count_estado.value.length}} / 10</md-hint>
                    </md-input-container>
                    <div *ngIf="form.controls.estado.errors && form.controls.estado.touched">
                        <div *ngIf="form.controls.estado.errors.required" class="alert alert-danger">
                            El Campo es requerido!
                        </div>
                        <div *ngIf="form.controls.estado.errors.minlength" class="alert alert-danger">
                            El Campo debe ser mayor a 3 caracteres!
                        </div>
                        <div *ngIf="form.controls.estado.errors.maxlength" class="alert alert-danger">
                            El Campo debe ser menor a 50 caracteres!
                        </div>
                        <div *ngIf="form.controls.estado.errors.pattern" class="alert alert-danger">
                            El Campo debe iniciar con almenos una letra
                        </div>
                    </div>
                </div>                
          </div>

        </form>
      </md-card-content>
      <md-card-actions align="end">
        <button  md-raised-button color="purple" md-button (click)="dialogRef.close('cerrar')"  mdTooltip="Cerrar!" >
                      <md-icon class="md-24">arrow_back</md-icon> Cerrar.</button>
        <button md-raised-button color="primary" mdTooltip="Guardar Datos!" (click)="dialogRef.close(form.value)" [disabled]="!form.valid">{{action}}</button>
      </md-card-actions>
    </md-card>
</div>


