<div class="form" >
    <md-card class="content">
      <md-card-title >{{title}}</md-card-title>
      <md-card-content>
        <form novalidate [formGroup]="form">
          <div class="row">

                <div class="form-group col col-sm-8	col-md-8	col-lg-8 col-xl-8 col-sm-auto col-md-auto col-lg-auto	col-xl-auto">
                    <md-input-container>
                        <input mdInput placeholder="Nombre de Aplicación" class="form-control" #count_nombre maxlength="50" id="nombre" formControlName="nombre">
                        <md-hint align="end">{{count_nombre.value.length}} / 50</md-hint>
                    </md-input-container>
                    <div *ngIf="form.controls.nombre.errors && form.controls.nombre.touched">
                        <div *ngIf="form.controls.nombre.errors.required" class="alert alert-danger">
                            El Campo es requerido!
                        </div>
                        <div *ngIf="form.controls.nombre.errors.minlength" class="alert alert-danger">
                            El Campo debe ser mayor a 3 caracteres!
                        </div>
                        <div *ngIf="form.controls.nombre.errors.maxlength" class="alert alert-danger">
                            El Campo debe ser menor a 50 caracteres!
                        </div>
                        <div *ngIf="form.controls.nombre.errors.pattern" class="alert alert-danger">
                            El Campo debe iniciar con almenos una letra
                        </div>
                    </div>
                </div>

                <div class="form-group col col-sm-4	col-md-4	col-lg-4 col-xl-4 col-sm-auto col-md-auto col-lg-auto	col-xl-auto">
                    
                    <md-input-container>
                        <input mdInput placeholder="versión de Aplicación" class="form-control" #count_version maxlength="50" id="version" formControlName="version">
                        <md-hint align="end">{{count_version.value.length}} / 10</md-hint>
                    </md-input-container>
                    <div *ngIf="form.controls.version.errors && form.controls.version.touched">
                        <div *ngIf="form.controls.version.errors.required" class="alert alert-danger">
                            El Campo es requerido!
                        </div>
                        <div *ngIf="form.controls.version.errors.minlength" class="alert alert-danger">
                            El Campo debe ser mayor a 3 caracteres!
                        </div>
                        <div *ngIf="form.controls.version.errors.maxlength" class="alert alert-danger">
                            El Campo debe ser menor a 50 caracteres!
                        </div>
                        <div *ngIf="form.controls.version.errors.pattern" class="alert alert-danger">
                            El Campo debe iniciar con almenos una letra
                        </div>
                    </div>
                </div>
                <div class="form-group col col-sm-12	col-md-12	col-lg-12 col-xl-12 col-sm-auto col-md-auto col-lg-auto	col-xl-auto">            
                <md-input-container class="example-full-width">
                    <textarea mdInput placeholder="Descripción de la Aplicación" id="descripcion"  #count_des maxlength="100" formControlName="descripcion"></textarea>
                    <input mdInput placeholder="Nombre de Aplicación" class="form-control" #count_name maxlength="50" id="nombre" >
                    <md-hint align="end">{{count_des.value.length}} / 100</md-hint>
                </md-input-container>
            
                <div *ngIf="form.controls.descripcion.errors && form.controls.descripcion.touched">
                    <div *ngIf="form.controls.descripcion.errors.required" class="alert alert-danger">
                        El Campo es requerido!
                    </div>
                    <div *ngIf="form.controls.descripcion.errors.minlength" class="alert alert-danger">
                        El Campo debe ser mayor a 3 caracteres!
                    </div>
                    <div *ngIf="form.controls.descripcion.errors.maxlength" class="alert alert-danger">
                        El Campo debe ser menor a 100 caracteres!
                    </div>
                    <div *ngIf="form.controls.descripcion.errors.pattern" class="alert alert-danger">
                        El Campo debe iniciar con almenos una letra
                    </div>
                </div>
            </div>                  
          </div>

        </form>
      </md-card-content>
      <md-card-actions align="end">
        <button  md-raised-button color="purple" md-button (click)="dialogRef.close('cerrar')"  mdTooltip="Cerrar!" >
                      <md-icon class="md-24">arrow_back</md-icon> Cerrar.</button>
        <button md-raised-button color="primary" mdTooltip="Guardar Datos!" (click)="dialogRef.close(form.value)" [disabled]="!form.valid">{{action}}</button>
      </md-card-actions>
    </md-card>
</div>

