
 <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            ADMIN PROYECTOS
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
          <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>
          <!-- Navigation -->
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Item1</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Item1</a>
            </nav>
          </div>
          <span class="android-mobile-title mdl-layout-title">
            
            ADMIN PROYECTOS
          </span>
          <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item">5.0 Lollipop</li>
            <li class="mdl-menu__item">4.4 KitKat</li>
            <li disabled class="mdl-menu__item">4.3 Jelly Bean</li>
            <li class="mdl-menu__item">Android History</li>
          </ul>
        </div>
      </div>

      <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          
            ADMIN PROYECTOS
          
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Phones</a>
          <a class="mdl-navigation__link" href="">Tablets</a>
          <a class="mdl-navigation__link" href="">Wear</a>
          <a class="mdl-navigation__link" href="">TV</a>
          <a class="mdl-navigation__link" href="">Auto</a>
          <a class="mdl-navigation__link" href="">One</a>
          <a class="mdl-navigation__link" href="">Play</a>
          <div class="android-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">Versions</span>
          <a class="mdl-navigation__link" href="">Lollipop 5.0</a>
          <a class="mdl-navigation__link" href="">KitKat 4.4</a>
          <a class="mdl-navigation__link" href="">Jelly Bean 4.3</a>
          <a class="mdl-navigation__link" href="">Android history</a>
          <div class="android-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">Resources</span>
          <a class="mdl-navigation__link" href="">Official blog</a>
          <a class="mdl-navigation__link" href="">Android on Google+</a>
          <a class="mdl-navigation__link" href="">Android on Twitter</a>
          <div class="android-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">For developers</span>
          <a class="mdl-navigation__link" href="">App developer resources</a>
          <a class="mdl-navigation__link" href="">Android Open Source Project</a>
          <a class="mdl-navigation__link" href="">Android SDK</a>
        </nav>
      </div>

      <div class="android-content mdl-layout__content">
        <a name="top"></a>
        <div class="android-be-together-section mdl-typography--text-center">
          <div class="logo-font android-slogan">Hol@: {{locStorage.getUsuario()}}</div>
          <div class="logo-font android-sub-slogan" >Bienvenido al Administrador de tus Proyectos.
            <a href="./perfil#app" class="logo-font android-sub-slogan" >Vea tus aplicaciones Registradas.</a></div>
          <div class="logo-font android-create-character">
            <a (click)="openDialog()"><img src="../../../../assets/images/andy.png"> Registra tu nueva aplicación.</a>
          </div>

          <a href="./perfil#app">
            <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
              <i class="material-icons">expand_more</i>
            </button>
          </a>
        </div>
        <div class="android-wear-section">
          <div class="android-wear-band">
            <div class="android-wear-band-text">
              <div class="mdl-typography--display-2 mdl-typography--font-thin">Apps contruidas por Sysware-Ingenieria</div>
              <p class="mdl-typography--headline mdl-typography--font-thin">
                Portal de adminsitración de proyectos construidas por Sysware Ingenieria.
              </p>
              <p>
                <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
                  Puede acceder a la Play Store&nbsp;<i class="material-icons">chevron_right</i>
                </a>
              </p>
            </div>
          </div>
        </div>
         <a name="app"></a>

         <div class="android-content mdl-layout__content" >
        <app-aplicacion></app-aplicacion>
         </div>

     
        <footer class="android-footer mdl-mega-footer">
          <div class="mdl-mega-footer--top-section"> 
            <div class="mdl-mega-footer--right-section">
              
            </div>
          </div>

          <div class="mdl-mega-footer--middle-section">
            
            
          </div>

     

        </footer>

        <footer class="android-footer mdl-mega-footer">
          <div class="mdl-mega-footer--top-section">
            <div class="mdl-mega-footer--left-section">
              <p class="mdl-typography--font-light">Derechos: © 2017 Sysware Ingenieria</p>
              <p class="mdl-typography--font-light">Desarrollado by Luis Garcia</p>
              &nbsp;
              
            </div>
            <div class="mdl-mega-footer--right-section">
             <a class="mdl-typography--font-light" href="./perfil#top">
                Volver Arriba
                <i class="material-icons">expand_less</i>
              </a>
            </div>
          </div>

   

        </footer>
      </div>
    </div>
    <a (click)="openDialog()" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Nueva Aplicación</a>