

<md-card class="table-bordered">
  <md-card-title>Usuarios de Aplicación</md-card-title>
  <table class="table table-striped table-hover">
    <thead class="thead-inverse">
      <tr>
        <th>N°</th>
        <th>UID</th>
        <th>Usuario</th>
        <th>Clave</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of  usuarios; let i = index">
        <td>{{i+1}}</td>
        <td>{{usuario._uuid}}</td>
        <td>{{usuario.usuario}}</td>
        <td>{{usuario.clave}}</td>
        <td>
          <md-chip-list>
            <md-icon mdTooltip="Ver más!" (click)="openDialog()" >visibility</md-icon>
            <md-icon mdTooltip="Editar Menu!"  (click)="openDialog(true,usuario)"  color="primary">create</md-icon>
            <md-icon mdTooltip="Eliminar Menu!"  (click)="openDialog()"  color="accent"  >delete_foreve</md-icon>
          </md-chip-list>
        </td>

      </tr>


    </tbody>
  </table>

</md-card>

 <button (click)="openDialog(false)" id="view-source"  class="bg-success text-white"  md-mini-fab mdTooltip="Crear nuevo Rol!" >
    <md-icon class="md-24">add</md-icon>
</button>
