
<div class="container bg-info">
  <md-card c>
    <md-card-title>
        Portal Administrativo de Aplicaciones Móviles o Webs
    </md-card-title>
    <p>
      No olvide guardar el TOKEN_KEY, el cual sera su identificador con el que se le dara autorización para consumir los diferentes microservicios 
      en su propio modulo de autenticación.
    </p>
    <p>
      Ahora puedes adminsitrara los usuarios de tus aplicacione de forma centralizada. Por Favor ver mas información acerca de como 
      usar esta API en sus diferentes desarrollos, backend o frontend.
    </p>
    
    </md-card>  
</div>
<router-outlet></router-outlet>


